.headerComponent {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  height: 60px;
  box-sizing: border-box;
  padding: 8px;
}

.userLogo {
  padding: 10px;
}

.logo {
  margin-left: 20px;
}
